#Latihan 1

Buatlah biodata diri dengan python menggunakan `print()`

In [ ]:
# #Contoh :

# print('Nama saya Rika')
# print('Umur saya 25 Tahun')
# print('Saya berasal dari Bali')

In [ ]:
#Jawabanmu

print('Nama saya Gio')
print('Umur saya 20 Tahun')
print('Saya berasal dari Bandung')

Nama saya Gio
Umur saya 20 Tahun
Saya berasal dari Bandung

#Latihan 2

Buatlah perhitungan luas segitiga menggunakan python, dan hitung luas segitiga dengan

1. alas = 2, tinggi = 4
1. alas = 3, tinggi = 5
1. alas = 3, tinggi = 6

clue :

$L\Delta = (a * t)/2$

In [ ]:
def segitiga(alas,tinggi):
  luas = (alas*tinggi)/2
  return luas

print(segitiga(2,4))
print(segitiga(3,5))
print(segitiga(3,6))

4.0
7.5
9.0

#Latihan 3

Buatlah kode untuk menentukan apakah angka yang dimasukkan bernilai genap atau ganjil

clue:
* sisa bagi dari bilangan genap oleh 2 adalah 0

In [ ]:
angka = int(input('Masukkan angka: '))
print(angka,'adalah bilangan', 'genap' if (angka % 2 == 0) else 'ganjil')

Masukkan angka: 5
5 adalah bilangan ganjil

In [ ]:
angka = int(input('Masukkan angka: '))
print(angka,'adalah bilangan', 'genap' if (angka % 2 == 0) else 'ganjil')

Masukkan angka: 18
18 adalah bilangan genap

#Latihan 4

Dengan loop, buatlah kode untuk melakukan perhitungan mundur dari 10 hingga 1

In [ ]:
#Jawabanmu
a= 10
while a>=1:
  print(a, end=' ')
  a = a-1

10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

#Latihan 5

Buatlah kode yang mengubah setiap nilai suhu dalam reamur pada list data yang dimiliki menjadi celcius

clue:
* Gunakan loop
* $Celcius = 5/4 * Reamur$

In [ ]:
suhu_reamur = [20, 16, 15, 12]
#Jawaban
# iterate over the list using index
for i in range(len(suhu_reamur)):
    print("Celcius =", (5 * suhu_reamur[i])/4)

Celcius = 25.0
Celcius = 20.0
Celcius = 18.75
Celcius = 15.0

##Latihan 6

Buatlah kode yang mengubah huruf pertama dan terakhir dalam sebuah kata menjadi kapital

contoh
input: hello world
output: HellO WorlD

In [ ]:
#Jawaban

pesan1 = 'selamat datang'
lst = [word[0].upper() + word[1:-1] + word[-1].upper() for word in pesan1.split()]
pesan1 = " ".join(lst)
pesan1

'SelamaT DatanG'

In [ ]:
pesan2 = 'les data science'
lst = [word[0].upper() + word[1:-1] + word[-1].upper() for word in pesan2.split()]
pesan2 = " ".join(lst)
pesan2

'LeS DatA SciencE'

##Latihan 7

Hitunglah *Mean Absolute Error* (MAE) dari list nilai prediksi terhadap list nilai aslinya

$mae = (\frac{1}{n})\sum_{i=1}^{n}\left | y_{i} - x_{i} \right |$

dimana:
* n = jumlah data
* yi = nilai prediksi ke-i
* xi = nilai aktual ke-i

In [ ]:
#Jawaban
def mae_metric(actual, predicted):
	sum_error = 0.0
	for i in range(len(actual)):
		sum_error += abs(predicted[i] - actual[i])
	return sum_error / float(len(actual))
 
# Perhitungan dengan data
actual = [1, 4.5, 9.2, 9, 14]
predicted = [1.2, 5, 8.7, 10, 15]
mae = mae_metric(actual, predicted)
print(mae)

0.64

##Latihan 8

Buatlah kode untuk mengecek apakah ada nilai `200` dalam dictionary

clue: gunakan .values() untuk mengakses value pada dictionary

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
#Jawaban
print(any([True for i,j in sample_dict.items() if j == 200]))

True

##Latihan 9

Buatlah kode untuk menghitung nilai dari 

f(x) = x^2 + 3x - 5

untuk x:
* x = 2
* x = 3
* x - 5

In [ ]:
#Jawaban
def fungsi(x):
  fungsi = x**2 + (3*x) - 5
  fungsi
  return fungsi

print(fungsi(2))
print(fungsi(3))
print(fungsi(-5))

5
13
5

##Latihan 10

Buatlah kode untuk menghitung luas gabungan dari persegi panjang dan segitiga

No | Lebar | Panjang | Alas | Tinggi
--- | --- | --- | --- | ---
1 | 2 | 5 | 3 | 6
2 | 3 | 5 | 4 | 8
3 | 3 | 6 | 2 | 5
4 | 5 | 8 | 2 | 4
5 | 4 | 10 | 3 | 5

In [97]:
import pandas as pd
import numpy as np

#Jawaban
df = pd.DataFrame(np.array([[1, 2, 3, 4, 5], [2, 3, 3, 5, 4], [5, 5, 6, 8, 10], [6, 8, 5, 4, 5]]),columns=['No', 'Lebar', 'Panjang', 'Alas', 'Tinggi'])

In [98]:
df.head()

   No  Lebar  Panjang  Alas  Tinggi
0   1      2        3     4       5
1   2      3        3     5       4
2   5      5        6     8      10
3   6      8        5     4       5

In [99]:
df['Luas_Persegi'] = df['Lebar']*df['Panjang']
df['Luas_Segitiga'] = (df['Alas'] * df['Tinggi']) /2
df['Luas_Gabungan'] = df['Luas_Persegi'] + df['Luas_Segitiga']

In [101]:
df.head()

   No  Lebar  Panjang  Alas  Tinggi  Luas_Persegi  Luas_Segitiga  Luas_Gabungan
0   1      2        3     4       5             6           10.0           16.0
1   2      3        3     5       4             9           10.0           19.0
2   5      5        6     8      10            30           40.0           70.0
3   6      8        5     4       5            40           10.0           50.0